# No need to track linked neovim config
vim/init.vim
# viminfo file could be source controled but might break
vim/viminfo
# eclim files
vim/plugin
vim/eclim

# Compiled python
*.pyc

# Compiled spelling list files
*.spl
*.sug

# all source controlled notes will go in README.md
notes/*

