[submodule "bash-git-prompt"]
	path = bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "nvm"]
	path = nvm
	url = https://github.com/nvm-sh/nvm.git
[submodule "SimpylFold"]
	path = vim/pack/plugins/start/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "vim-airline-themes"]
	path = vim/pack/plugins/opt/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule "nvim-lspconfig"]
	path = nvim/pack/plugins/start/nvim-lspconfig
	url = git@github.com:neovim/nvim-lspconfig.git
[submodule "nvim-cmp"]
	path = nvim/pack/plugins/start/nvim-cmp
	url = git@github.com:hrsh7th/nvim-cmp.git
[submodule "cmp-nvim-lsp"]
	path = nvim/pack/plugins/start/cmp-nvim-lsp
	url = git@github.com:hrsh7th/cmp-nvim-lsp.git
[submodule "cmp-vsnip"]
	path = nvim/pack/plugins/start/cmp-vsnip
	url = git@github.com:hrsh7th/cmp-vsnip.git
[submodule "cmp-path"]
	path = nvim/pack/plugins/start/cmp-path
	url = git@github.com:hrsh7th/cmp-path.git
[submodule "cmp-buffer"]
	path = nvim/pack/plugins/start/cmp-buffer
	url = git@github.com:hrsh7th/cmp-buffer.git
[submodule "popup.nvim"]
	path = nvim/pack/plugins/start/popup.nvim
	url = git@github.com:nvim-lua/popup.nvim.git
[submodule "plenary.nvim"]
	path = nvim/pack/plugins/start/plenary.nvim
	url = git@github.com:nvim-lua/plenary.nvim.git
[submodule "telescope.nvim"]
	path = nvim/pack/plugins/start/telescope.nvim
	url = git@github.com:nvim-telescope/telescope.nvim.git
[submodule "nvim-treesitter"]
	path = nvim/pack/plugins/start/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "rustaceanvim"]
	path = nvim/pack/plugins/start/rustaceanvim
	url = git@github.com:mrcjkb/rustaceanvim.git
[submodule "nvim-dap"]
	path = nvim/pack/plugins/start/nvim-dap
	url = https://github.com/mfussenegger/nvim-dap.git
[submodule "Neogit"]
	path = nvim/pack/plugins/start/neogit
	url = https://github.com/NeogitOrg/neogit.git
[submodule "nvim-highlight-colors"]
	path = nvim/pack/themes/opt/nvim-highlight-colors
	url = https://github.com/brenoprata10/nvim-highlight-colors.git
[submodule "lualine.nvim"]
	path = nvim/pack/plugins/start/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "go.nvim"]
	path = nvim/pack/plugins/start/go.nvim
	url = https://github.com/ray-x/go.nvim.git
[submodule "nvim-tmux-navigation"]
	path = nvim/pack/plugins/start/nvim-tmux-navigation
	url = https://github.com/alexghergh/nvim-tmux-navigation.git
