[submodule "bash-git-prompt"]
	path = bash-git-prompt
	url = git@github.com:magicmonty/bash-git-prompt.git
	branch = master
[submodule "vim/pack/plugins/start/vim-go"]
	path = vim/pack/plugins/opt/vim-go
	url = https://github.com/fatih/vim-go
	branch = master
[submodule "vim/pack/plugins/start/jedi-vim"]
	path = vim/pack/plugins/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim
	branch = master
[submodule "vim/pack/plugins/start/ale"]
	path = vim/pack/plugins/start/ale
	url = git@github.com:w0rp/ale.git
	branch = master
[submodule "vim/pack/plugins/start/numbers.vim"]
	path = vim/pack/plugins/start/numbers.vim
	url = git@github.com:myusuf3/numbers.vim.git
	branch = master
[submodule "vim/pack/plugins/opt/vim-css-color"]
	path = vim/pack/plugins/opt/vim-css-color
	url = git@github.com:ap/vim-css-color.git
	branch = master
[submodule "vim/pack/plugins/start/vim-indent-guides"]
	path = vim/pack/plugins/start/vim-indent-guides
	url = git@github.com:nathanaelkane/vim-indent-guides.git
	branch = master
[submodule "vim/pack/plugins/start/vim-tmux-navigator"]
	path = vim/pack/plugins/start/vim-tmux-navigator
	url = git@github.com:christoomey/vim-tmux-navigator.git
	branch = master
[submodule "vim/pack/plugins/start/supertab"]
	path = vim/pack/plugins/start/supertab
	url = git@github.com:ervandew/supertab.git
	branch = master
[submodule "vim/pack/plugins/start/vim-pandoc"]
	path = vim/pack/plugins/start/vim-pandoc
	url = git@github.com:vim-pandoc/vim-pandoc.git
	branch = master
[submodule "vim/pack/plugins/start/vim-pandoc-syntax"]
	path = vim/pack/plugins/start/vim-pandoc-syntax
	url = git@github.com:vim-pandoc/vim-pandoc-syntax.git
	branch = master
[submodule "vim/pack/plugins/start/SimpylFold"]
	path = vim/pack/plugins/start/SimpylFold
	url = git@github.com:tmhedberg/SimpylFold.git
	branch = master
[submodule "vim/pack/plugins/start/black"]
	path = vim/pack/plugins/start/black
	url = https://github.com/psf/black.git
	branch = master
[submodule "vim/pack/plugins/start/rust.vim"]
	path = vim/pack/plugins/start/rust.vim
	url = git@github.com:rust-lang/rust.vim.git
	branch = master
