[submodule "bash-git-prompt"]
	path = bash-git-prompt
	url = git@github.com:magicmonty/bash-git-prompt.git
[submodule "vim/pack/plugins/start/vim-go"]
	path = vim/pack/plugins/start/vim-go
	url = https://github.com/fatih/vim-go
