# vim folders under .vim
vim/view
# No need to track linked neovim config
vim/init.vim
# viminfo file could be source controled but might break
vim/viminfo
# eclim files
vim/plugin
vim/black
vim/eclim
vim/.VimballRecord
# Compiled python
*.pyc

# Compiled spelling list files
*.spl
*.sug

# all source controlled notes will go in README.md
notes/*

# log files
*.log
# temporary files
*.tmp

# backup files
*.ucf-dist
*.ucf-old
