# sudo pip install --upgrade -r ~/dotfiles/requirements.txt
# Required for Gnucash python bindings??
Cython
# Generally useful python tools
dropbox
fabric
gdata
googlecl
speedtest-cli
selenium
awscli
grip
requests
# Data Science Tools
ipython
matplotlib
numpy
pandas
scikit-learn
scikits.statsmodels
scipy
statsmodels
sympy
# Environment Maintenance
virtualenv
virtualenvwrapper
pip-tools
pip
# Required by Fabric
ecdsa
