# --user installs to ~/.local/
# python3 requires python3-distutils installed for get-pip.py
# wget https://bootstrap.pypa.io/get-pip.py && python3 get-pip.py
# pip install --user --upgrade -r ~/dotfiles/requirements3.txt
pip

# common files for all installs
# coding tools
black
flake8
ipython
isort
jedi
powerline-status
pynvim
pytest
yamllint
# used in ipython_config.py
pygments-style-solarized

# cli tools
awscli
boto3
docker-compose
ansible-lint
