# sudo pip install --upgrade -r ~/dotfiles/requirements.txt
# Generally useful python tools
dropbox
fabric
gdata
googlecl
speedtest-cli
selenium
awscli
grip
requests
# Data Science Tools
ipython
jupyter
matplotlib
numpy
pandas
scikit-learn
scikits.statsmodels
scipy
statsmodels
sympy
# required by ipython notebook
tornado
pyzmq
jsonschema
# Environment Maintenance
virtualenv
virtualenvwrapper
pip-tools
pip
# Required by Fabric
ecdsa
# added as needed in day to day use
subprocess32
google-api-python-client
flake8
