# sudo -H pip install --upgrade -r ~/dotfiles/requirements.txt
# sudo -H installs to /usr/local/lib/python#.#
# 2018-07-18 16:48:35 -0400
# --user installs to ~/.local/
# pip install --user --upgrade -r ~/dotfiles/requirements3.txt
pip
pep8
setuptools
neovim
awscli
# coding tools
jedi
pygments
pylint
pytest
# Data Science Tools
ipython
jupyter
octave-kernel
numpy
pandas
# http libraries
requests
# used in calibre update script
lxml
# must apt-get install libpng12-dev libfreetype6-dev to install
matplotlib
# must be installed before scikit
# requires apt-get install libblas-dev liblapack-dev gfortran
scipy
statsmodels
sympy
scikit-learn
# not available for python3
#scikits.statsmodels

# required by ipython notebook
# tornado
# pyzmq
# jsonschema

# database
pymongo
mycli

# installed as dependencies of above
#appdirs
#bleach
#decorator
#html5lib
#ipykernel
#jinja2
#nbconvert
#nbformat
#notebook
#packaging
#pandocfilters
#pytz
#pyzmq
#setuptools
#testpath

# 2018-07-20 13:28:14 -0400
# pip freeze --user
# appdirs==1.4.3
# args==0.1.0
# astroid==2.0
# atomicwrites==1.1.5
# attrs==18.1.0
# awscli==1.15.62
# backcall==0.1.0
# bleach==2.0.0
# botocore==1.10.61
# cffi==1.11.5
# cli-helpers==1.0.2
# click==6.7
# clint==0.5.1
# configobj==5.0.6
# cryptography==1.8.1
# cycler==0.10.0
# decorator==4.1.1
# dnspython==1.15.0
# docutils==0.13.1
# ecdsa==0.13
# Electrum==3.2.2
# entrypoints==0.2.3
# enum-compat==0.0.2
# greenlet==0.4.13
# html5lib==0.999999999
# httplib2==0.10.3
# idna==2.5
# ipykernel==4.6.1
# ipython==6.4.0
# ipython-genutils==0.2.0
# ipywidgets==6.0.0
# isort==4.2.5
# itsdangerous==0.24
# jedi==0.12.1
# jeepney==0.3.1
# Jinja2==2.10
# jmespath==0.9.3
# jsonrpclib-pelix==0.3.1
# jsonschema==2.6.0
# jupyter==1.0.0
# jupyter-client==5.2.3
# jupyter-console==5.2.0
# jupyter-core==4.4.0
# keyring==13.2.1
# kiwisolver==1.0.1
# lazy-object-proxy==1.2.2
# lxml==4.2.3
# MarkupSafe==1.0
# marshmallow==2.13.4
# matplotlib==2.2.2
# mccabe==0.6.1
# metakernel==0.20.14
# mistune==0.7.4
# more-itertools==4.2.0
# mpmath==0.19
# msgpack==0.5.6
# msgpack-python==0.4.8
# mycli==1.17.0
# nbconvert==5.2.1
# nbformat==4.3.0
# neovim==0.2.6
# neovim-gui==0.1.3
# nose==1.3.7
# notebook==5.6.0
# numpy==1.14.5
# octave-kernel==0.28.4
# packaging==16.8
# pandas==0.23.3
# pandocfilters==1.4.1
# parso==0.3.1
# pathlib2==2.2.1
# patsy==0.4.1
# pbkdf2==1.3
# pep8==1.7.1
# pexpect==4.6.0
# pickleshare==0.7.4
# pluggy==0.6.0
# prometheus-client==0.3.0
# prompt-toolkit==1.0.15
# protobuf==3.6.0
# ptyprocess==0.5.2
# py==1.5.4
# pyaes==1.6.1
# pyasn1==0.2.3
# pycparser==2.18
# pycryptodome==3.4.5
# Pygments==2.2.0
# pylint==2.0.0
# pymongo==3.7.1
# PyMySQL==0.7.11
# pyparsing==2.2.0
# PySocks==1.6.8
# pytest==3.6.3
# python-dateutil==2.6.1
# pytz==2018.3
# PyYAML==3.12
# pyzmq==17.1.0
# QDarkStyle==2.5.4
# qrcode==6.0
# qtconsole==4.3.0
# requests==2.19.1
# rsa==3.4.2
# s3transfer==0.1.13
# scikit-learn==0.19.2
# scipy==1.1.0
# SecretStorage==3.0.1
# Send2Trash==1.5.0
# shortuuid==0.5.0
# simplegeneric==0.8.1
# six==1.11.0
# sqlparse==0.2.3
# statsmodels==0.9.0
# sympy==1.2
# tabulate==0.8.2
# terminado==0.8.1
# terminaltables==3.1.0
# testpath==0.3.1
# tornado==4.5.1
# traitlets==4.3.2
# typed-ast==1.1.0
# tzlocal==1.5.1
# wcwidth==0.1.7
# webencodings==0.5.1
# Werkzeug==0.12.2
# widgetsnbextension==2.0.0
# wrapt==1.10.10
