# Ignore these files
bundle/
# this is the new viminfo for neovim
# https://www.reddit.com/r/neovim/comments/3oyy7m/shada_has_landed/
shada/
# https://stackoverflow.com/questions/9850360/what-is-netrwhist
.netrwhist

# preserve this directory structure but nothing contained therein
backup/**
undo/**
swap/**

